.form-control.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
}
.form-control.success i.fa-check-circle {
    color: greenyellow;
    visibility: visible;
}
.form-control.error small {
    visibility: visible;
    color: red;
}
